@import "./Base/normalize";
@import "./base/link";
@import "./layout/form";
@import "./utils/extensions";
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/icones";
@import "./layout/container";
body {
    width: 100%;
    min-width: 320px;
    margin: 0;
    font-family: 'Roboto', Arial, 'Arial Black', Impact, 'Times New Roman', sans-serif;
    font-weight: 300;
    font-size: 17px;
    @include for-tablet-portrait-up {
        font-size: 20px;
    }
}

h2, h1 {
    @extend %main_title
}
h2 {
    text-align: left;
}
main {
    width: 100%;
}
.header__img {
    display: block;
    margin: auto;
    width: 45%;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.5S;
    @include for-tablet-portrait-up {
        width: 30%;
    }
    @include for-tablet-landscape-up {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 30%;
    }
    @include for-desktop-up {
        width: 25%;
    }
    @include for-big-desktop-up {
        width: 25%;
    }
}
article {
    width: 100%;
    height: 380px;
    text-align: center;
    background: $color-background;
}
aside, nav {
    @include for-big-desktop-up {
        max-width: 1440px;
        margin: auto;
        border-radius: 50px 50px 0 0;
    }
}
form, input {
    background: $color-form;
}
#city-form:focus {
    background: $color-form;
}
.font_bold {
    font-weight: bolder;
    font-size: 25px;
}
.font__title {
    padding: 0px 0 0 15px;
    @include for-tablet-portrait-up {
        text-align: center;
        margin: 35px 0 40px 0;
    }
}
#fonctionnement {
    padding-left: 4.7%;
    @include for-tablet-landscape-up {
        font-size: 28px;
    }
}
#restaurants {
    padding-top: 45px;
    padding-left: 4.7%;
    @include for-tablet-landscape-up {
        font-size: 28px;
    }
}
.function__numbers {
    @extend %numbers;
    @include for-tablet-landscape-up {
        font-size: 25px;
        padding-left: 14px;
        padding-right: 14px;
    }
}
nav {
    background-color: $color-background;
    padding: 0 0 30px 0;
}
/**post-animation site**/
.homepage {
    width: 100%;
    overflow: hidden;
    z-index: 1;
    animation: hide-homepage 1s 3s both;  
}
@keyframes hide-homepage {
    0% {
        transform: translateX(8000px);
    }
    100% {
        transform: translateX(0);
    }
}
/**post-animation loader**/
@keyframes hide-loadingpage {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-9999px);
    }
}
/**animation loader**/
.loading_spinner {
    animation: hide-loadingpage 0s 3s both;
}
/**animation loader-titre**/
@keyframes moveletter_1 {
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes moveletter_2 {
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes moveletter_3 {
    0% {
        transform: translateY(-9999px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes moveletter_4 {
    0% {
        transform: translateY(-9999px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes moveletter_5 {
    0% {
        transform: translateY(9999px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes moveletter_6 {
    0% {
        transform: translateY(9999px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes moveletter_7 {
    0% {
        transform: translateX(9999px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes moveletter_8 {
    0% {
        transform: translateX(9999px);
    }
    100% {
        transform: translateX(0);
    }
}
.letter_1 {
    color: $color1;
    animation: moveletter_1 1.5s 0.2s both;
}
.letter_2 {
    color: $color2;
    animation: moveletter_2 1.5s 0.3s both;
}
.letter_3 {
    color: $color3;
    animation: moveletter_3 1.5s 0.4s both;
}
.letter_4 {
    color: $color4;
    animation: moveletter_4 1.5s 0.4s both;
}
.letter_5 {
    color: $color5;
    animation: moveletter_5 1.5s 0.5s both;
}
.letter_6 {
    color: $color6;
    animation: moveletter_6 1.5s 0.6s both;
}
.letter_7 {
    color: $color7;
    animation: moveletter_7 1.5s 0.7s both;
}
.letter_8 {
    color: $color8;
    animation: moveletter_8 1.5s 0.8s both;
}
/**animation loader-spinner_rond**/
$rotate_cage: rotate3D(90, -4000, -70, 3600deg);
@keyframes spinning {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    10% {
        opacity: 0.9;
    }
    20% {
        opacity: 0.8;
    }
    30% {
        opacity: 0.7;
    }
    40% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.4;
    }
    70% {
        opacity: 0.3;
    }
    80% {
        opacity: 0.2;
    }
    90% {
        opacity: 0.1;
    }
    100% {
        transform: rotate(-9000deg);
        opacity: 0;
    }
}
/**animation loader-spinner_intérieur**/
@keyframes spinning2 {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.6;
    }
    60% {
        opacity: 0.8;
    }
    70% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.4;
    }
    90% {
        opacity: 0.2;
    }
    100% {
        transform: $rotate_cage;
        opacity: 0;
    }
}
/**animation "loading" vers le bas**/
@keyframes loadingtext {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(9999px);
    }
}
/**animation "loading" en couleurs**/
@keyframes colortext {
    0% {
        color: rgb(93, 220, 236);
    }
    10% {
        color: #cf94f7;
    }
    20% {
        color: #6ad1bc;
    }
    30% {
        color: #fca368;
    }
    40% {
        color: rgb(7, 223, 223);
    }
    50% {
        color: #67b1fc;
    }
    60% {
        color: rgb(159, 159, 255);
    }
    70% {
        color: #2980b9;
    }
    80% {
        color: #e2d396;
    }
    90% {
        color: #9ab929;
    }
    100% {
        color: rgb(255, 129, 150);
    }
}
/**animation "points" du "loading"**/
@keyframes textpoint {
    0% {
        transform: translateX(9999px);
    }
    100% {
        transform: translateX(0);
    }
}
.point1 {
    display: inline-block;
    animation: textpoint 0.3s 0.2s both;
}
.point2 {
    display: inline-block;
    animation: textpoint 0.4s 0.7s both;
}
.point3 {
    display: inline-block;
    animation: textpoint 0.5s 1.4s both;
}
/**animation coeur**/
@keyframes heart {
    0% {
        transform: scale(0);
        transform-origin: bottom;
    }
    100% {
        transform: scale(1);
    }
}
/**animation Fonctionnement**/
@keyframes functions {
    0% {
        background: #f6f6f6;
    }
    
    100% {
        background: #f5edff;
    }
}
@keyframes icone_function {
    0% {
        color: #7e7e7e;
    }
    100% {
        color: #9356DC;
    }
}
/**animation "check"**/
@keyframes check_rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


