/* loader */
.loading_spinner {
    font-family: 'Shrikhand', Arial, 'Arial Black', Impact, 'Times New Roman', sans-serif;
    font-size: 47px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    
}
.loading_text {
    position: absolute;
    bottom: 16px;
    display: flex;
    font-size: 30px;
    animation: loadingtext 3s 2.5s both;
    
}
.spin {
    border-left: 3px solid darken($color: #bdb9ff, $amount: 10);
    border-top: 5px solid darken($color: #e2c899, $amount: 25);
    border-right: 7px solid darken($color: #fffc60, $amount: 35);
    border-bottom: 9px solid darken($color: #65ffff, $amount: 40);
    border-radius: 47%;
    position: absolute;
    width: 365px;
    height: 350px;
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: -1;
    animation: spinning 3s 0s both ;
}
.spin2 {
    border-left: 20px solid darken($color: #2effd2, $amount: 10);
    border-top: 2px solid darken($color: #5eff3e, $amount: 25);
    border-right: 20px solid darken($color: #4df1c8, $amount: 35);
    border-bottom: 2px solid darken($color: #fb8fff, $amount: 40);
    border-radius: 35%;
    position: absolute;
    width: 365px;
    height: 220px;
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: -1;
    animation: spinning2 2.9s 0.1s both;
}
.moving_text {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -2;
    animation: colortext 3s 0.1s both;
}
.pink__button {
    background: linear-gradient(-15deg, #9356DC, #FF79DA );
    color: #ffff;
    padding: 20px 25px 20px 25px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 7px 5px 8px #c9c9c9;
    transition: 0.4s;
        &:active {
            opacity: 0.85;
            box-shadow: 15px 13px 9px #c9c9c9;
        }
    @include for-desktop-up {
        &:hover {
            opacity: 0.85;
            box-shadow: 15px 13px 9px #c9c9c9;
            }
        }
}
.function {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    font-weight: 600;
    padding-top: 5px;
    margin-top: 7%;
    margin-right: 5%;
    margin-left: 7%;
    border-radius: 25px;
    box-shadow: 7px 5px 10px #e7e7e7;
    transition: 0.4s;
        &__text {
            padding-top: 25px;
            font-size: 16px;
        } 
    z-index: 0;
    @include for-tablet-portrait-up {
        width: 60%;
        margin: auto;
        margin-bottom: 10%;
        justify-content: center;
        border-radius: 50px;
    }
    @include for-tablet-landscape-up {
        width: 50%;
    }
    @include for-desktop-up {
        width: 37%;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 5%;
        &:hover {
        opacity: 0.9;
        box-shadow: 15px 13px 10px #e7e7e7;
        }
    }
}
.function__text {
    @include for-tablet-portrait-up {
        font-size: 20px;
    }
    @include for-tablet-landscape-up {
        font-size: 24px;
    }
}
#function_1 {
    animation: functions 2s linear 6 4s;
}
#function_2 {
    animation: functions 2s linear 7 6s;
}
#function_3 {
    animation: functions 2s linear 9 8s;
}
.card {
    width: 91%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 7px 5px 30px #c9c9c9;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    transition: 0.5s;
    @include for-tablet-portrait-up {
        width: 80%;
    }
    @include for-tablet-landscape-up {
        width: 70%;
        height: 280px;
        margin-bottom: 45px;
    }
    @include for-desktop-up {
        width: 60%;
        height: 350px;
        &:hover {
            box-shadow: 15px 15px 35px #c9c9c9;
        }
    }       
}
.card__image {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    @include for-desktop-up {
        height: 270px;
    }
}
.card__nouveau {
    position: absolute;
    right: 5%;
    margin-top: 15px;
    margin-right: 15px;
    padding: 8px 12px 8px 12px;
    border-radius: 3px;
    font-weight: bold;
    color: #139273;
    background: #99E2D0;
    transition: 0.4s;
    @include for-tablet-portrait-up {
        right: 11%;
    }
    @include for-tablet-landscape-up {
        right: 16%;
    }
    @include for-desktop-up {
        right: 20%;
    }
    @include for-big-desktop-up {
        padding: 14px 20px 14px 20px;
        margin-top: 30px;
        border-radius: 15px;
        box-shadow: 4px 4px 20px #c9c9c9;
        &:hover {
            box-shadow: 10px 10px 25px #c9c9c9;
        }
    }
}
.card__name {
    font-weight: bold;
    padding-bottom: 3px;
}
.card__text {
    width: 100%;
    padding: 10px 0px 15px 15px;
    @include for-tablet-landscape-up {
        font-size: 22px;
    }
}
.card__display {
    width: 100%;
    display: flex;
}
.card__link {
    width: 100%;
}
.hearts__display {
    width: 0px;
}
/**mise en page des restaurants**/
.main__background {
    background: #f6f6f6;
    height: 1200px;
    margin-top: -80px;
    margin-bottom: -100px;
}
.main__note--enchantee {
    height: 1300px;
}
.image__title {
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index: 0;
}
.restaurant__title {
    font-family: 'Shrikhand', Arial, 'Arial Black', Impact, 'Times New Roman', sans-serif;
    font-size: 27px;
    background: #f6f6f6;
    border-radius: 50px 50px 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    bottom: 60px;
}
.restaurant__name {
    margin-top: 40px;
    padding-bottom: 40px;
    padding-left: 5%;
}
.restaurant__heart {
    display: flex;
    height: 25px;
    margin-top: 40px;
    padding-right: 9%;
    object-fit: cover;
}
/**titres des catégories**/
.dishes__name {
    width: 70px;
    position: relative;
    padding-left: 20px;
    padding-bottom: 2px;
    margin-bottom: 25px;
    &::after {
        content:"";
        background: $color-tertiaire;
        width: 57%;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 30%;
    }
}
/**les choix de plat**/
.choices__display {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.choice__name {
    width: 90%;
    height: 70px;
    display: flex;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:  "...";
    background: #ffff;
    margin-bottom: 15px;
    padding-right: 25px;
    border-radius: 17px;
    box-shadow: 12px 12px 150px #f5f5f5;
    transition: 0.3s;
    &:hover {
        opacity: 0.9;
        box-shadow: 15px 13px 10px #e7e7e7;
        }
    &--bold {
        width: 100%;
        font-weight: bold;
        font-size: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow:  ellipsis;
    }
    &--regular {
        width: 100%;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow:  ellipsis;
    }
    &:active .choice__name--icone {
        margin-left: 50px; 
        transform: translateX(0);
    }
}
.choice__name:active .fa-check {
    animation: check_rotation 0.3s 0s ease-in both;
}
.choice__name--details {
    width: 100%;
    height: 60px;
    overflow: hidden;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    line-height: 25px;
}
.choice__name--price {
    width: 7%;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0 17px 17px 0;
    padding-top: 38px;
    padding-right: 50px;
    margin-left: -55px;
    transform: translateX(64px);
}
.choice__name--icone {
    margin-right: -24px;
    background: $color-tertiaire;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 0 17px 17px 0;
    transition: 0.3s;
    transform: translateX(72px);
}
/**bouton de commande**/
.order__button {
    background: linear-gradient(-15deg, #9356DC, #FF79DA );
    color: #ffff;
    padding: 20px 60px 20px 60px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 150px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 7px 5px 8px #c9c9c9;
    transition: 0.4s;
        &:active {
            opacity: 0.85;
            box-shadow: 15px 13px 9px #c9c9c9;
        }
    @include for-desktop-up {
        &:hover {
            opacity: 0.85;
            box-shadow: 15px 13px 9px #c9c9c9;
            }
        }
}
footer {
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 7%;
    background-color: #353535;
    color: #ffff;
}
.footer__text {
    color: #ffff;
}
.footer__text__contact {
    padding-top: 15px;
}
