.function {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    font-weight: 600;
    padding-top: 5px;
    margin-top: 7%;
    margin-right: 5%;
    margin-left: 7%;
    border-radius: 25px;
    box-shadow: 7px 5px 10px #e7e7e7;
        &__text {
            padding-top: 25px;
            font-size: 16px;
        } 
    z-index: 0;
    &:hover {
        opacity: 0.9;
        box-shadow: 10px 8px 10px #e7e7e7;
    }
    animation: functions 2s 0.1s both;
}
.card {
    width: 91%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 7px 5px 30px #c9c9c9;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    &:hover {
        box-shadow: 15px 15px 35px #c9c9c9;
    }
}
.card__image {
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.card__name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.card__text {
    padding: 10px 0px 15px 15px;
}
.pinkbutton {
    background: linear-gradient(-15deg, #9356DC, #FF79DA );
    color: #ffff;
    padding: 20px 25px 20px 25px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 7px 5px 8px #c9c9c9;
    transform: scale(1);
    transition: all 0.4s;
        &:active {
            transform: scale(1.1, 0.9);
            box-shadow: 12px 10px 9px #c9c9c9;
            background: linear-gradient(-95deg, #FF79DA, #9356DC );
        }
        &:hover {
            opacity: 0.85;
            box-shadow: 15px 13px 9px #c9c9c9;
        }
}
footer {
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 7%;
    background-color: #353535;
    color: #ffff;
}
.footer__text {
    color: #ffff;
}
.footer__text__contact {
    padding-top: 15px;
}
/* loader */
.loading_spinner {
    font-family: 'Shrikhand', Arial, 'Arial Black', Impact, 'Times New Roman', sans-serif;
    font-size: 47px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    
}
.loading_text {
    position: absolute;
    bottom: 16px;
    display: flex;
    font-size: 30px;
    animation: loadingtext 3s 2.5s both;
    
}
.spin {
    border-left: 3px solid darken($color: #bdb9ff, $amount: 10);
    border-top: 5px solid darken($color: #e2c899, $amount: 25);
    border-right: 7px solid darken($color: #fffc60, $amount: 35);
    border-bottom: 9px solid darken($color: #65ffff, $amount: 40);
    border-radius: 47%;
    position: absolute;
    width: 365px;
    height: 350px;
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: -1;
    animation: spinning 3s 0s both ;
 }
 .spin2 {
    border-left: 20px solid darken($color: #2effd2, $amount: 10);
    border-top: 2px solid darken($color: #5eff3e, $amount: 25);
    border-right: 20px solid darken($color: #4df1c8, $amount: 35);
    border-bottom: 2px solid darken($color: #fb8fff, $amount: 40);
    border-radius: 35%;
    position: absolute;
    width: 365px;
    height: 220px;
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: -1;
    animation: spinning2 2.9s 0.1s both;
 }
 .moving_text {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -2;
    animation: colortext 3s 0.1s both;
 }
