/* loader */
/*nom du site*/
.loading_spinner {
    font-family: 'Shrikhand', Arial, 'Arial Black', Impact, 'Times New Roman', sans-serif;
    font-size: 47px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -moz-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/*mot "loading"*/
.loading_text {
    position: absolute;
    bottom: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
    -webkit-animation: loadingtext 1s 2.2s both;
    -moz-animation: loadingtext 1s 2.2s both;
        -o-animation: loadingtext 1s 2.2s both;
            animation: loadingtext 1s 2.2s both;
}
/*loader rond*/
.spin {
    border-left: 3px solid darken($color: #bdb9ff, $amount: 10);
    border-top: 5px solid darken($color: #e2c899, $amount: 25);
    border-right: 7px solid darken($color: #fffc60, $amount: 35);
    border-bottom: 9px solid darken($color: #65ffff, $amount: 40);
    border-radius: 47%;
    position: absolute;
    width: 365px;
    height: 350px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -moz-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: -1;
    -webkit-animation: spinning 3s 0s both;
    -moz-animation: spinning 3s 0s both;
        -o-animation: spinning 3s 0s both;
            animation: spinning 3s 0s both;
    @include for-phone-only {
        display: none;
    }
}
/*loader rectangle*/
.spin2 {
    border-left: 20px solid darken($color: #2effd2, $amount: 10);
    border-top: 2px solid darken($color: #5eff3e, $amount: 25);
    border-right: 20px solid darken($color: #4df1c8, $amount: 35);
    border-bottom: 2px solid darken($color: #fb8fff, $amount: 40);
    border-radius: 35%;
    position: absolute;
    width: 365px;
    height: 220px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -moz-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: -1;
    -webkit-animation: spinning2 2.9s 0.1s both;
    -moz-animation: spinning2 2.9s 0.1s both;
        -o-animation: spinning2 2.9s 0.1s both;
            animation: spinning2 2.9s 0.1s both;
    @include for-phone-only {
        display: none;
    }
}
/*fin de l'animation "loading + 3 points"*/
.moving_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    z-index: -2;
    -webkit-animation: colortext 3s 0.1s both;
    -moz-animation: colortext 3s 0.1s both;
        -o-animation: colortext 3s 0.1s both;
            animation: colortext 3s 0.1s both;
}
/*bouton "explorer nos restaurants"*/
.pink__button {
    background: -webkit-linear-gradient(105deg, #9356DC, #FF79DA );
    background: -moz-linear-gradient(105deg, #9356DC, #FF79DA );
    background: -o-linear-gradient(105deg, #9356DC, #FF79DA );
    background: linear-gradient(-15deg, #9356DC, #FF79DA );
    color: #ffff;
    width: 240px;
    padding: 20px 25px 20px 25px;
    margin: auto;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    -webkit-box-shadow: 7px 5px 8px #c9c9c9;
            box-shadow: 7px 5px 8px #c9c9c9;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
    @include for-tablet-portrait-up {
        width: 270px;
    }
        &:active {
            opacity: 0.85;
            -webkit-box-shadow: 15px 13px 9px #c9c9c9;
                    box-shadow: 15px 13px 9px #c9c9c9;
        }
    @include for-desktop-up {
        &:hover {
            opacity: 0.85;
            -webkit-box-shadow: 15px 13px 9px #c9c9c9;
                    box-shadow: 15px 13px 9px #c9c9c9;
            }
        }
}
/*les 3 parties du fonctionnement*/
.function {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #f6f6f6;
    font-weight: 600;
    padding-top: 5px;
    margin-top: 7%;
    margin-right: 5%;
    margin-left: 7%;
    border-radius: 25px;
    -webkit-box-shadow: 7px 5px 10px #e7e7e7;
            box-shadow: 7px 5px 10px #e7e7e7;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
        &__text {
            padding-top: 25px;
            font-size: 16px;
            @include for-tablet-portrait-up {
                font-size: 18px;
            }
            @include for-tablet-landscape-up {
                font-size: 18px;
            }
        } 
    z-index: 0;
    @include for-tablet-portrait-up {
        width: 400px;
        margin: auto;
        margin-bottom: 10%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-radius: 50px;
    }
    
    @include for-desktop-up {
        padding-top: 12px;
        padding-bottom: 10px;
        margin-bottom: 5%;
        &:hover {
        opacity: 0.9;
        -webkit-box-shadow: 15px 13px 10px #e7e7e7;
                box-shadow: 15px 13px 10px #e7e7e7;
        }
    }
}
/**animation du fonctionnement**/
#function_1 {
    -webkit-animation: functions 2s linear 6 4s;
    -moz-animation: functions 2s linear 6 4s;
        -o-animation: functions 2s linear 6 4s;
            animation: functions 2s linear 6 4s;
}
#function_2 {
    -webkit-animation: functions 2s linear 7 6s;
    -moz-animation: functions 2s linear 7 6s;
        -o-animation: functions 2s linear 7 6s;
            animation: functions 2s linear 7 6s;
}
#function_3 {
    -webkit-animation: functions 2s linear 9 8s;
    -moz-animation: functions 2s linear 9 8s;
        -o-animation: functions 2s linear 9 8s;
            animation: functions 2s linear 9 8s;
}
/*les cartes de chaque restaurant*/
.card {
    width: 91%;
    height: 250px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 20px;
    -webkit-box-shadow: 7px 5px 30px #c9c9c9;
            box-shadow: 7px 5px 30px #c9c9c9;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    @include for-tablet-portrait-up {
        width: 80%;
    }
    @include for-tablet-landscape-up {
        width: 70%;
        margin-bottom: 45px;
    }
    @include for-desktop-up {
        width: 50%;
        &:hover {
            -webkit-box-shadow: 25px 25px 35px #c9c9c9;
                    box-shadow: 25px 25px 35px #c9c9c9;
        }
    }       
}
/**photo du restaurant**/
.card__image {
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0 0;
    -o-object-fit: cover;
    object-fit: cover;
    
}
/*l'encart "nouveau"*/
.card__nouveau {
    position: absolute;
    right: 5%;
    margin-top: 15px;
    margin-right: 15px;
    padding: 8px 12px 8px 12px;
    border-radius: 3px;
    font-weight: bold;
    color: #139273;
    background: #99E2D0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
    @include for-tablet-portrait-up {
        right: 11%;
    }
    @include for-tablet-landscape-up {
        right: 16%;
    }
    @include for-desktop-up {
        right: 25%;
    }
    @include for-big-desktop-up {
        right: 26%;
        padding: 14px 20px 14px 20px;
        margin-top: 20px;
        border-radius: 15px;
        -webkit-box-shadow: 4px 4px 20px #c9c9c9;
                box-shadow: 4px 4px 20px #c9c9c9;
        &:hover {
            -webkit-box-shadow: 10px 10px 25px #c9c9c9;
                    box-shadow: 10px 10px 25px #c9c9c9;
        }
    }
}
/*nom du restaurant*/
.card__name {
    font-weight: bold;
    padding-bottom: 3px;
}
/*nom + lieu du restaurant*/
.card__text {
    width: 100%;
    padding: 10px 0px 15px 15px;
    @include for-tablet-portrait-up {
        padding: 5px 0px 20px 20px;
    }
    @include for-tablet-landscape-up {
        font-size: 18px;
    }
}
/*disposition de la carte*/
.card__display {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
/*prise en charge du lien*/
.card__link {
    width: 100%;
}
/*gestion des 4 pages dédiées aux 4 restaurants*/
/**mise en page des restaurants**/
.main__background {
    background: #f6f6f6;
    height: 1200px;
    margin-top: -80px;
    margin-bottom: -100px;
    -webkit-transition: 2s;
    -o-transition: 2s;
    -moz-transition: 2s;
    transition: 2s;
    @include for-desktop-up {
        max-width: 1100px;
        margin: auto;
        border-radius: 50px 50px 0 0;
        -webkit-box-shadow: 15px 13px 10px #e7e7e7;
                box-shadow: 15px 13px 10px #e7e7e7;
    }
}
/*hauteur spécifique pour ce restaurant avec 1 plat au choix en plus*/
.main__note--enchantee {
    height: 1300px;
}
/*image en-tête*/
.image__title {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 0;
}
/*gestion du titre + coeur*/
.restaurant__title {
    font-family: 'Shrikhand', Arial, 'Arial Black', Impact, 'Times New Roman', sans-serif;
    font-size: 27px;
    background: #f6f6f6;
    border-radius: 50px 50px 0 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 1;
    position: relative;
    bottom: 60px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    @include for-desktop-up {
        width: 460px;
        margin: auto;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        border-radius: 50px;
        -webkit-box-shadow: 15px 13px 10px #e7e7e7;
                box-shadow: 15px 13px 10px #e7e7e7;
        &:hover {
            -webkit-box-shadow: 19px 17px 14px darken($color: #e7e7e7, $amount: 3) ;
                    box-shadow: 19px 17px 14px darken($color: #e7e7e7, $amount: 3) ;
        }
    }
}
/*titre du restaurant*/
.restaurant__name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    padding-bottom: 40px;
    padding-left: 5%;
    @include for-small-phone {
        font-size: 25px;
    }
    @include for-desktop-up {
        margin-right: 35px;
    }
}
/*coeur en-tête*/
#restaurant__heart {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 25px;
    margin-top: 40px;
    padding-right: 9%;
}
/**titres des catégories**/
.dishes__name {
    width: 70px;
    position: relative;
    padding-left: 20px;
    padding-bottom: 2px;
    margin-bottom: 25px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    &::after {
        content:"";
        background: $color-tertiaire;
        width: 57%;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 30%;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
    }
    @include for-tablet-landscape-up {
        padding-left: 60px;
        top: 50px;
        &::after {
            left: 87%;
            width: 70%;
        }
    }
}
/**les choix de plat**/
/*disposition de chaque catégorie*/
.choices__display {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}
/*animation décalé des plats à l'ouverture de la page*/
@-webkit-keyframes dishes-display {
    0% {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
        opacity: 0;
    }
    20% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.5;
    }
    80%{
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}
@-moz-keyframes dishes-display {
    0% {
        -moz-transform: translateY(20px);
            transform: translateY(20px);
        opacity: 0;
    }
    20% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.5;
    }
    80%{
        opacity: 0.6;
    }
    100% {
        -moz-transform: translateY(0);
            transform: translateY(0);
        opacity: 1;
    }
}
@-o-keyframes dishes-display {
    0% {
        -o-transform: translateY(20px);
            transform: translateY(20px);
        opacity: 0;
    }
    20% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.5;
    }
    80%{
        opacity: 0.6;
    }
    100% {
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes dishes-display {
    0% {
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
            -o-transform: translateY(20px);
                transform: translateY(20px);
        opacity: 0;
    }
    20% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.5;
    }
    80%{
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
            -o-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}
/*création et animation en décalé de chaque plat à l'ouverture de la page*/
.choice__animation {
    @for $i from 1 through 10 {
        &-#{$i} {
            -webkit-animation: dishes-display 0.5s 4s linear both;
            -moz-animation: dishes-display 0.5s 4s linear both;
                -o-animation: dishes-display 0.5s 4s linear both;
                    animation: dishes-display 0.5s 4s linear both;
            -webkit-animation-duration: 0.5s*$i;
            -moz-animation-duration: 0.5s*$i;
                -o-animation-duration: 0.5s*$i;
                    animation-duration: 0.5s*$i;
        }
    }
}
/*BEM de chaque plat*/
.choice__name {
    width: 90%;
    height: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow:  ellipsis;
    text-overflow:  ellipsis;
    background: #ffff;
    margin-bottom: 15px;
    padding-right: 25px;
    border-radius: 17px;
    -webkit-box-shadow: 12px 12px 150px #f5f5f5;
            box-shadow: 12px 12px 150px #f5f5f5;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    &:active .choice__name--icone {
        @include for-touch_device-only {
            margin-left: 50px; 
            -webkit-transform: translateX(0); 
            -moz-transform: translateX(0); 
                -ms-transform: translateX(0); 
                -o-transform: translateX(0); 
                    transform: translateX(0);
        } 
    }
    &:hover .choice__name--icone {
        @include for-desktop-up {
            margin-left: 50px; 
            -webkit-transform: translateX(0); 
            -moz-transform: translateX(0); 
                -ms-transform: translateX(0); 
                -o-transform: translateX(0); 
                    transform: translateX(0);
        }
    }
    @include for-tablet-portrait-up {
        width: 70%;
    }
    @include for-tablet-landscape-up {
        width: 60%;
    }
    @include for-desktop-up {
        &:hover {
        -webkit-box-shadow: 10px 8px 10px #e7e7e7;
                box-shadow: 10px 8px 10px #e7e7e7;
        opacity: 0.9;
        } 
    }
}
/*gestion du check en "click"*/
.choice__name:active .fa-check {
    @include for-touch_device-only {
        -webkit-animation: check_rotation 0.3s linear forwards;
        -moz-animation: check_rotation 0.3s linear forwards;
            -o-animation: check_rotation 0.3s linear forwards;
                animation: check_rotation 0.3s linear forwards;
    }
}
/*gestion du check au survol*/
.choice__name:hover .fa-check {
    @include for-desktop-up {
        -webkit-animation: check_rotation 0.3s linear forwards;
        -moz-animation: check_rotation 0.3s linear forwards;
            -o-animation: check_rotation 0.3s linear forwards;
                animation: check_rotation 0.3s linear forwards;
    }
}
/*nom du plat*/
.choice__name--bold {
    width: 100%;
    font-weight: bold;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow:  ellipsis;
    text-overflow:  ellipsis;
}
/*nom de l'accompagnement*/
.choice__name--regular {
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow:  ellipsis;
    text-overflow:  ellipsis;
}
/*bloc comprenant le nom et l'accompagnement du plat*/
.choice__name--details {
    width: 100%;
    height: 60px;
    overflow: hidden;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    line-height: 25px;
}
/*prix du plat*/
.choice__name--price {
    width: 7%;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0 17px 17px 0;
    padding-top: 38px;
    padding-right: 50px;
    margin-left: -55px;
    -webkit-transform: translateX(64px);
    -moz-transform: translateX(64px);
        -ms-transform: translateX(64px);
        -o-transform: translateX(64px);
            transform: translateX(64px);
}
/*bloc caché comprenant l'icône "check"*/
.choice__name--icone {
    margin-right: -25px;
    background: $color-tertiaire;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 0 17px 17px 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateX(72px);
    -moz-transform: translateX(72px);
        -ms-transform: translateX(72px);
        -o-transform: translateX(72px);
            transform: translateX(72px);
}
/**bouton de commande des restaurants**/
.order__button {
    background: -webkit-linear-gradient(105deg, #9356DC, #FF79DA );
    background: -moz-linear-gradient(105deg, #9356DC, #FF79DA );
    background: -o-linear-gradient(105deg, #9356DC, #FF79DA );
    background: linear-gradient(-15deg, #9356DC, #FF79DA );
    color: #ffff;
    padding: 20px 60px 20px 60px;
    display: block;
    width: 220px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 150px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    -webkit-box-shadow: 7px 5px 8px #c9c9c9;
            box-shadow: 7px 5px 8px #c9c9c9;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
        &:active {
            opacity: 0.85;
            -webkit-box-shadow: 15px 13px 9px #c9c9c9;
                    box-shadow: 15px 13px 9px #c9c9c9;
        }
    @include for-desktop-up {
        &:hover {
            opacity: 0.85;
            -webkit-box-shadow: 15px 13px 9px #c9c9c9;
                    box-shadow: 15px 13px 9px #c9c9c9;
            }
        }
}
/*pied de page*/
footer {
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 7%;
    background-color: #353535;
    color: #ffff;
}
.footer__text {
    padding-bottom: 10px;
    &--color {
        color: #ffff;
    }
}