.fa-mobile-screen-button {
    animation: icone_function 2s linear 6 4s;
}
.fa-list {
    animation: icone_function 2s linear 7 6s;
}
.fa-store {
    animation: icone_function 2s linear 9 8s;
}
.fa-heart {
    position: relative;
    top: 15px;
    right: 40px;
    font-size: 25px;
    cursor: pointer;
    opacity: 1;
    z-index: 1;
    &:active + #fill_heart {
        z-index: 1;
        animation: heart 0.3s 0s normal both;
        -webkit-animation: heart 0.3s 0s normal both;
        -moz-animation: heart 0.3s 0s normal both;
    }
    @include for-tablet-landscape-up {
        font-size: 30px;
        right: 50px;

    }
}
/**l'effet progresse et reste actif**/
#fill_heart {
    position: relative;
    top: -11px;
    right: 40px;
    background:-webkit-linear-gradient(bottom, #FF79DA 10%, #9356DC 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation-play-state: paused;
    z-index: -1; 
    @include for-tablet-landscape-up {
        right: 50px;
        top: -15.5px;
    }
}
.fa-mobile-screen-button, .fa-list, .fa-store{
    font-size: 20px;
    padding: 23px 20px 25px 10px;
    color: #7e7e7e;
    @include for-tablet-landscape-up {
        font-size: 25px;
    }
}
.fa-handshake-angle {
    font-size: 15px;
    padding-right: 10px;
}
.fa-utensils {
    font-size: 15px;
    padding-right: 17px;
}
.fa-arrow-left {
    font-size: 22px;
    position: absolute;
    top: 25px;
    left: 20px;
}
.fa-check {
    font-size: 13px;
    color: $color-tertiaire;
    background: #ffff;
    border-radius: 50px;
    padding: 4px 5px 4px 5px;
    position: relative;
    top: 23px;
    
    &:active {
        animation: check_rotation 0.4s 0s ease-in both;
    }
}
