.fa-heart {
    position: relative;
    top: 10px;
    font-size: 25px;
    opacity: 1;
     z-index: 1;
    &:active + #fill_heart {
        z-index: 1;
        animation: heart 0.3s 0s normal both;
    }
}
/**l'effet progresse et reste actif**/
#fill_heart {
    position: relative;
    top: 10px;
    right: 25px;
    background:-webkit-linear-gradient(bottom, #FF79DA 10%, #9356DC 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation-play-state: paused;
    z-index: -1;
}
.fa-mobile-screen-button, .fa-list, .fa-store{
    font-size: 20px;
    padding: 23px 20px 25px 10px;
    color: #7e7e7e;
}
.fa-handshake-angle {
    font-size: 15px;
    padding-right: 10px;
}
.fa-utensils {
    font-size: 15px;
    padding-right: 17px;
}
