.fa-heart {
    position: relative;
    right: 15px;
    top: 10px;
    font-size: 25px;
}
.fa-mobile-screen-button, .fa-list, .fa-store{
    font-size: 20px;
    padding: 23px 20px 25px 10px;
    color: #7e7e7e;
}
.fa-handshake-angle {
    font-size: 15px;
    padding-right: 10px;
}
.fa-utensils {
    font-size: 15px;
    padding-right: 17px;
}